<html>
	<head>
		<title>Hangman</title>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
		<body>
			<h1>Hangman!</h1>
			<div id = "display">
				<%= display %>
			</div>
			<form>
				<div id = "wrapper">
					<label>Guess a letter!</label>
					<input type='text' name='guess' id = 'guess'/>

					<div>
						<input type='submit' value='submit'/>
					</div>

					<div>
						<a href='/reset'>New Game</a>
					</div>

				</div>
			</form>

			<div id = 'message'>
				<%= message %>
			</div>

			<div id = 'history'>
				<div>
					Guesses
				</div>

				<div id = 'choices'>
					<%= choices.join(" ")%>
				</div>
			</div>
			<div>
				<%= counter %>
			</div>
		<div>
			<%= word %>
		</div>
		</body>
</html>